<form>
    <div class="form_div">
        <label for="name">Name</label>
        <input class="input" autocomplete="off" id="name" type="text" name="name" 
        placeholder="Name" required>
    </div>

    <div class="form_div">
        <label for="lastName">LastName</label>
        <input class="input" autocomplete="off" id="lastName" type="text"  name="lastName" 
        placeholder="LastName" required>
    </div>
    <div class="form_div">
        <label for="email">Email</label>
        <input class="input" autocomplete="off" id="email" type="email" name="email" 
        placeholder="Email" required>
    </div>

    <div class="form_div">
        <label for="password">Password</label>
        <input class="input" autocomplete="off" id="password" type="password" name="password" 
        placeholder="Password" required>
    </div>
    
    <div class="form_div">
        <p class="output-error"></p>
    </div>

    <div class="sign">
        <label role="checkbox" aria-checked="true" class="el-checkbox is-checked" >
                <span class="createdAccount" id="login">Login</span>
                <span class="forgotPassword">Forgot password</span>
        </label>
    </div>
    
    <div class="form_div button_hover">
        <button class="el-button"  type="submit" value="Submit"><span>Submit</span></button>
    </div>
</form>